body{
  font-family: 'Mukta', sans-serif;
  background-color: rgb(58, 128, 240);

}
.container{
  margin: 33px;
  margin-left: 60%;
  margin-top: 10%;
  text-align: center;
}
#div1,
#div2,
#div3,
#div4,
#div5,
#div6,
#div7,
#div8,
#div9{
  border: 4px solid rgb(169, 205, 12);
  width: 220px;
  height: 130px;
  float: left;
  color: rgb(255, 255, 255);
  font-size: 90px;
  text-align: center;
 
  
}




